[package]
name = "triplet_challenge"
version = "0.1.0"
authors = ["Pablo Marcos Oltra <pablo.marcos.oltra@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
